.jumbotron {

	background-color : var(--glass-background);
	background-image : url("../images/error/error-background.jpg");
	background-size : cover;
	height : 650px;
	margin-bottom : 0px;
}

.jumbotron-text {

	background-color : var(--glass-background);
	padding-left : 5px;
	padding-right : 5px;
}

div.jumbotron img {

	height : 256px;
	margin : 10px;
	width : 256px;;
}

.jumbotron a {

	width : 192px;
}

.jumbotron p {

	font-size : var(--jumbotron-text-size);
}

a.navbar-brand {
	font-size: var(--brand-text-size);
	color:white;
}

nav a {
    text-decoration: none;
    color: #FFAF0F;
}

nav span.nav-item {
	color: white;
}
