<link rel = "stylesheet" type = "text/css" href = "components/index/index.css">

<div>
  <!-- Page-specific Components -->
  <div class = "jumbotron2 jumbotron-fluid">
    <div class = container-fluid>
      <div class = "row justify-content-center">
        <img ng-src = "images/index/brand-black.png" alt = "GetOut logo black" />
      </div>
      <div class = "row justify-content-center">
        <div class = " page-title-index"> {{'INDEX_WELCOME' | translate}} </div>
      </div>
      <div class = "row justify-content-center">
        <p class = "jumbotron-text"> {{'INDEX_DESC' | translate}} </p>
      </div>
      <div class = "row justify-content-center">
        <a href = "#!/catalogue" role = "button" class = "btn btn-outline-primary-style"> {{'INDEX_BUTTON' | translate}} </a>
      </div>
    </div>
  </div>
  <!-- Page-specific Components -->
</div>