<link rel = "stylesheet" type = "text/css" href = "components/footer/footer.css">

<!--Marco inferior de la pagina. Contiene informacion de los desarrolladores, entre otros-->

<nav class = "navbar-dark nav-fill navbar-fixed-bottom">
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-1"></div>
			<div class = "col-1">
				<span class = "nav-item nav-link">
					<a href = "http://www.wtfpl.net/txt/copying/" target = "_blank">{{'FOOTER_LICENSE' | translate}}</a>
				</span>
			</div>
			<div class = "col-8"></div>
		</div>
		<div class = "row">
			<!-- Tecnologias utilizadas... -->
		</div>
		<div class = "row">
			<div class = "col-1"></div>
			<div class = "col-4">
				<span class = "nav-item nav-link text-left">
					<a href = "#!/">GetOut© </a>
					{{'FOOTER_RIGHTS' | translate}}
				</span>
			</div>
			<div class = "col-1"></div>
			<div class = "col-6">
				<span class = "nav-item nav-link">© 2018 
					<a href = "https://www.itba.edu.ar/grado/ingenieria-informatica/" target = "_blank">{{'FOOTER_ITBA' | translate}}</a>{{'FOOTER_ITBA' | translate}}
				</span>
			</div>
		</div>
	</div>
</nav>