.msg-list-style {
	list-style-type: none;
	text-align: left;
}

#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 400px;
    overflow: auto;
    padding: 2px;
    resize: none!important;
}

.chat-msg {
    font-size: 150%;
}